%div.small_container.task_form
  = simple_form_for [@project, @story_type, @story, @task, @comment], :remote => true do |f|
    -if @comment.errors.any?
      .alert-message.block-message.error
        %p= "#{pluralize(@comment.errors.count, "error")} prohibited this story_type from being saved:"
        %ul
          - @comment.errors.full_messages.each do |msg|
            %li= msg

    %div
      .left=f.input_field :description
      .right= f.button :submit, :class => "btn primary"
    %br
    %br
