%center
  %div{:id => "comments_#{@task.id}_area", :class => "comments_scroll"}
    =link_to raw("<b>^</b> Hide <b>^</b>"), "#", :onclick => "$('#task_#{@task.id}_comments_area').slideUp()", :class => "btn primary"
    .clear
    %br
    - @comments.each do |comment|
      %div{:id => "comment_#{comment.id}"}
        %div{:class => "alert-message block-message #{cycle('success', '')} comments"}
          %div{:class => "left"}= comment.description
          .clear
          %small.left=comment.created_at
          %small
            %b.right=comment.user.email
          .clear

      .clear

    %br

    = render 'form'
