%div.small_container
  = simple_form_for @status, :html => {:class => "big_form"} do |f|
    -if @status.errors.any?
      .alert-message.block-message.error
        %p= "#{pluralize(@status.errors.count, "error")} prohibited this story_type from being saved:"
        %ul
          - @status.errors.full_messages.each do |msg|
            %li= msg

    %div= f.input_field :name
    %br
    %div= f.button :submit, :class => "btn primary"
