.task_form
  = simple_form_for [@project, @story_type, @story, @task], :html => {:class => "form-stacked",:id => "story_#{@story.id}_form"},  :remote => true do |f|
    -if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
    %table
      %tr
        %th Area
        %th{:width => "100%"} Description
        - if action_name != 'edit'
          %th Status
        %th 
      %tr
        %td
          = f.input_field :area, :id => "task_#{@story.id}_autocomplete"
        %td
          = f.input_field :description
        %td
          - if action_name != 'edit'
            = f.select :status_id, Status.all.map {|s| [s.name, s.id] }, :include_blank => false
        %td= f.button :submit, :class => "btn primary"
        %td= link_to "Cancel", "javascript:void(0);", :class => "btn error", :id => "task_#{@story.id}_cancel"
:javascript
  jQuery(function($) {
  $(document).ready(function() {
    $("#story_#{@story.id}_form")
      .bind('ajax:complete', function() {
        $('#story_#{@story.id}_form').slideUp();
        $('#story_#{@story.id}_tasks').load('#{project_story_type_story_tasks_path(@project, @story_type, @story)}');
      });
    $("#task_#{@story.id}_cancel").bind('click', function() {
     $('#story_#{@story.id}_form').slideUp();
   });
  });
  });
