.task_form
  = simple_form_for [@project, @story_type, @story, @task], :html => {:class => "form-stacked",:id => "story_#{@story.id}_form"},  :remote => true do |f|
    -if @task.errors.any?
      #error_explanation
        %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
    %table
      %tr
        %th Area
        %th{:width => "100%"} Description
        %th Status
        %th 
      %tr
        %td
          = f.input_field :area
        %td
          = f.input_field :description
        %td
          = f.select :status_id, Status.all.map {|s| [s.name, s.id] }, :include_blank => false
        %td= f.button :submit, :class => "btn primary"
:javascript
  jQuery(function($) {
  $(document).ready(function() {
    $("#story_#{@story.id}_form")
      .bind('ajax:complete', function() {
        $('#story_#{@story.id}_form').slideUp();
        $('#story_#{@story.id}_tasks').load('#{project_story_type_story_tasks_path(@project, @story_type, @story)}');
      });
  });
  });
