.clear
  - @areas.each do |a|
    %div.left.biglabel=a
    .tasks
      %table
        %tr.small_th
          %th{:width => "65%"} Description
          %th Status
          %th{:width => "10%"} Grabbed by
          %th
          %th
        - @tasks.where(:area => a).each do |task|
          %tr{:id => "task_#{task.id}_row", :class => cycle('odd', 'even')}
            %td{:id => "task_#{task.id}_edit"}= task.description
            %td
              = simple_form_for task, :html => {:id => "task_#{task.id}_status"} do |f|
                = f.association :status, :label => false, :include_blank => false, :input_html => {:class => "small_select", :id => "task_#{task.id}_status_select" }

            %td
              = form_for task, :html => {:id => "task_#{task.id}_grabbed_by"} do |f|
                = collection_select('task', 'grabbed_by', User.all, :id, :email, {:prompt => true, :selected => task.grabbed_by.try(:id)}, {:class => "small_select", :id => "task_#{task.id}_grabbed_by_select"})

            %td= link_to 'Edit', 'javascript:void(0);', :class => "btn", :id => "task_#{task.id}_edit_button"
            %td= link_to 'Destroy', task, :method => :delete, :confirm => "Are you sure?", :remote => true, :id => "task_#{task.id}", :class => "btn error"

          :javascript
            jQuery(function($) {
              $(document).ready(function() {
                $("#task_#{task.id}_edit_button").bind('click', function() {
                  $("#task_#{task.id}_edit").load('#{edit_project_story_type_story_task_path(@project, @story_type, @story, task)}');
                });

                $("#task_#{task.id}_status_select").bind("change", function() {
                  $.ajax({
                    type: "PUT",
                    url: '#{project_story_type_story_task_path(@project, @story_type, @story, task)}',
                    data: 'task[status_id]=' + $('#task_#{task.id}_status_select').val(),
                    complete: function() {
                      $('#task_#{task.id}_status').prepend("<span id='task_#{task.id}_success' class='label success right'>SAVED</span>");
                      $('#task_#{task.id}_success').delay(500).fadeOut();

                    }
                  });

                 })

                $("#task_#{task.id}")
                  .bind('ajax:complete', function() {
                    $('#task_#{task.id}_row').fadeOut();
                  });
              });
            });
