.clear
  - @areas.each do |a|
    %div.left.biglabel=a
    .tasks
      %table
        %tr.small_th
          %th{:width => "65%"} Description
          %th{:width => "5%"}
          %th{:width => "8%"} Status
          %th{:width => "15%"} Who's Assigned?
          %th
          %th
        - @tasks.where(:area => a).each do |task|
          %tr{:id => "task_#{task.id}_row", :class => cycle('odd', 'even')}
            %td{:id => "task_#{task.id}_edit"}
              %div= task.description
              .clear
              %div{:id => "task_#{task.id}_comments_area"}
            %td
              %span.right.mediumlabel
                %div= link_to raw(task.comments.size.to_s + image_tag('comments.png', :size => "20x20")), "javascript:void(0);", :id => "task_#{task.id}_comments"
            %td
              = simple_form_for task, :html => {:id => "task_#{task.id}_status"} do |f|
                = f.association :status, :label => false, :include_blank => false, :input_html => {:class => "small_select", :id => "task_#{task.id}_status_select" }

            %td
              = form_for task, :html => {:id => "task_#{task.id}_grabbed_by"} do |f|
                = collection_select('task', 'grabbed_by_attributes', User.all, :id, :email, {:prompt => 'No one assigned', :selected => task.grabbed_by}, {:class => "small_select", :id => "task_#{task.id}_grabbed_by_select"})

            %td= link_to 'Edit', 'javascript:void(0);', :class => "btn", :id => "task_#{task.id}_edit_button"
            %td= link_to 'Destroy', task, :method => :delete, :confirm => "Are you sure?", :remote => true, :id => "task_#{task.id}", :class => "btn error"

          :javascript
            jQuery(function($) {
              $(document).ready(function() {
                $("#task_#{task.id}_edit_button").bind('click', function() {
                  $("#task_#{task.id}_edit").load('#{edit_project_story_type_story_task_path(@project, @story_type, @story, task)}');
                });

                $('#task_#{task.id}_comments').bind("click", function(){
                  $('#task_#{task.id}_comments_area').show();
                  $('#task_#{task.id}_comments_area').load('#{project_story_type_story_task_comments_path(@project, @story_type, @story, task)}');
                });

                $("#task_#{task.id}_grabbed_by_select").bind("change", function() {
                  $.ajax({
                    type: "PUT",
                    url: '#{project_story_type_story_task_path(@project, @story_type, @story, task)}',
                    data: 'task[grabbed_by]=' + $('#task_#{task.id}_grabbed_by_select').val(),
                    complete: function() {
                      $('#task_#{task.id}_grabbed_by').prepend("<span id='task_#{task.id}_grabbed_by_success' class='label success right'>SAVED</span>");
                      $('#task_#{task.id}_grabbed_by_success').delay(500).fadeOut();

                    }
                  });

                 });

                $("#task_#{task.id}_status_select").bind("change", function() {
                  $.ajax({
                    type: "PUT",
                    url: '#{project_story_type_story_task_path(@project, @story_type, @story, task)}',
                    data: 'task[status_id]=' + $('#task_#{task.id}_status_select').val(),
                    complete: function() {
                      $('#task_#{task.id}_status').prepend("<span id='task_#{task.id}_success' class='label success right'>SAVED</span>");
                      $('#task_#{task.id}_success').delay(500).fadeOut();

                    }
                  });

                 });

                $("#task_#{task.id}")
                  .bind('ajax:complete', function() {
                    $('#task_#{task.id}_row').fadeOut();
                  });
              });
            });
