%h2.left= @story_type.name
%div.right= link_to "New Story", new_project_story_type_story_path(@project, @story_type), :class => "btn primary"

.clear

- @stories.each do |story|
  .story_item_header
    .add.left=link_to "+ task", "#", :class => "btn success add", :id => "story_#{story.id}", :story_id => story.id, :project_id => @project.id, :story_type_id => @story_type.id
    %h3.left.story_name=story.name
    %div.right
      %span.label=story.created_at.strftime("%m/%d/%Y %H:%M %p")
    %div.right
      %div{:id => "story_#{story.id}_is_open_area"}=select('story', 'is_open', [['Open', 1], ['Closed', 0]], {:selected => story.is_open }, {:id => "story_#{story.id}_is_open", :class =>"small_select"})
    .clear
  %hr
  %div{:id => "story_#{story.id}_loader"}
  .clear
  %div{:id => "story_#{story.id}_tasks"}
  .clear

  - if story.is_open == 1
    :javascript
      jQuery(function($) {
            $(document).ready(function() {
              $('#story_#{story.id}_tasks').load('#{project_story_type_story_tasks_path(@project, @story_type, story)}');
            });
      });
  :javascript
    jQuery(function($) {
      $(document).ready(function() {
        $("#story_#{story.id}_is_open").bind("change", function() {
          $.ajax({
            type: "PUT",
            url: '#{project_story_type_story_path(@project, @story_type, story)}',
            data: 'story[is_open]=' + $('#story_#{story.id}_is_open').val(),
            complete: function() {
              $('#story_#{story.id}_is_open_area').prepend("<span id='story_#{story.id}_is_open_success' class='label success right'>SAVED</span>");
              $('#story_#{story.id}_is_open_success').delay(500).fadeOut();

            }
          });

          if($('#story_#{story.id}_is_open').val() == 1){
            $('#story_#{story.id}_tasks').slideDown();
            $('#story_#{story.id}_tasks').load('#{project_story_type_story_tasks_path(@project, @story_type, story)}');
          }else{
            $('#story_#{story.id}_tasks').slideUp();
          }

        })
      });
    });
