%h2.left= @story_type.name
%div.right= link_to "New Story", new_project_story_type_story_path(@project, @story_type), :class => "btn primary"

.clear

- @project.stories.each do |story|
  .add.left=link_to "+", "#", :class => "btn success add", :id => "story_#{story.id}", :story_id => story.id, :project_id => @project.id, :story_type_id => @story_type.id
  %h3.left.story_name=story.name
  %span.label.right=story.created_at
  .clear
  %hr
  %div{:id => "story_#{story.id}_loader"}
  .clear
  %div{:id => "story_#{story.id}_tasks"}
  .clear

  :javascript
    jQuery(function($) {
      $(document).ready(function() {
        $('#story_#{story.id}_tasks').load('#{project_story_type_story_tasks_path(@project, @story_type, story)}');
      });
    });
