%h1 Listing stories

%table
  %tr
    %th Story type
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.story_type_id
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Story', new_story_path
