%html
  %head
    %title ReruScrum
    = stylesheet_link_tag "application", "bootstrap"
    = javascript_include_tag "application", "bootstrap-twipsy", "bootstrap-popover"
    = csrf_meta_tags
  %body
    %div{:class => "topbar"}
      %div{:class => "topbar-inner"}
        %div{:class => "container"}
          %h3
            = link_to "ReruScrum", "/"
          %ul.nav
            %li= link_to "Home", "/"
            - if current_user
              %li{:class =>"dropdown", 'data-dropdown' => 'dropdown'}
                = link_to "Projects", projects_path, :class => "dropdown-toggle"
                %ul{:class => "dropdown-menu"}
                  - Project.all.each do |p|
                    %li= link_to p.name, p

              %li= link_to "Story Types", story_types_path
              %li= link_to "Statuses", statuses_path

          %div{:id => "auth"}
            %ul
              - if current_user
                %li= link_to "Logout", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign In", new_user_session_path
    - flash.each do |name, msg|
      = content_tag :div, raw("<p><center>" + msg + "</center></p>"), :class => "alert-message #{name}"
    %div{:align => :center}
      = yield